html
    head
       
        link(rel="stylesheet", href="/static/m.css")
        
    body
    nav
        ul
            li
                a(href="/") Home Page
            li
                a(href="/page0") 2page
            li
                a(href="/pageT") 3page
            li
                a(href="/pageth") 4page
            li
                a(href="/pagef") 5page
    article
        h1 work

        p info please load

        h4= `${data.basics.name}, (${data.basics.region})`
        img(src=`${data.basics.picture}`)
        h4= `Find me at ${data.basics.email}`
        h5= `calls: ${data.basics.phone}`


            .trial
        h1 fetch attempt
        p Github :
            a(href=`${github.html_url}`)  https://github.com/BVargas949



         


